<div *ngIf="!chatReady; else chat" class="text-2xl">Chat loading...</div>

<ng-template #chat>
  <div class="flex mx-4 w:full sm:w-4/5 gap-4">
    <input
      [(ngModel)]="channelName"
      placeholder="New channel name"
      class="block w-full px-4 max-w-lg rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
    />
    <button
      (click)="createChannel()"
      [disabled]="channelName == ''"
      class="inline-flex items-center disabled:opacity-50 rounded-md border border-transparent bg-amber-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2"
    >
      Create
    </button>
    <button (click)="toggleLight()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
        />
      </svg>
    </button>
    <input
      placeholder="Search user"
      [(ngModel)]="searchUser"
      (ngModelChange)="searchForUser()"
      class="block px-4 w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm"
    />
    <select
      *ngIf="foundUsers.length"
      [(ngModel)]="addUser"
      (ngModelChange)="onSelect()"
      class="mt-1 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
    >
      <option *ngFor="let usr of foundUsers" [value]="usr.id">
        {{ usr?.name }}
      </option>
    </select>
  </div>

  <div class="flex mt-4 h-full">
    <stream-channel-list></stream-channel-list>
    <stream-channel class="flex-grow">
      <stream-channel-header></stream-channel-header>
      <stream-message-list></stream-message-list>
      <stream-notification-list></stream-notification-list>
      <stream-message-input></stream-message-input>
      <stream-thread name="thread">
        <stream-message-list mode="thread"></stream-message-list>
        <stream-message-input mode="thread"></stream-message-input>
      </stream-thread>
    </stream-channel>
  </div>
</ng-template>

<ng-template #message let-message="message">
  <h3>{{ message?.user.name }}</h3>
  <p>{{ message?.text }}</p>
</ng-template>
