<div *ngIf="!(chatReady | async); else chat" class="text-2xl">
  Chat loading...
</div>

<ng-template #chat>
  <div class="flex mt-4 h-full">
    <stream-channel-list></stream-channel-list>
    <stream-channel class="flex-grow">
      <stream-channel-header></stream-channel-header>
      <stream-message-list></stream-message-list>
      <stream-notification-list></stream-notification-list>
      <stream-message-input></stream-message-input>
      <stream-thread name="thread">
        <stream-message-list mode="thread"></stream-message-list>
        <stream-message-input mode="thread"></stream-message-input>
      </stream-thread>
    </stream-channel>
  </div>
</ng-template>
