.modal-content {
  width: 600px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  .title {
    font-size: 23px;
    font-weight: 700;
  }

  input {
    width: 200px;
    padding: 10px;
    border: none;
    background-color: var(--str-chat__message-textarea-background-color);
    color: var(--str-chat__message-textarea-color);
    border-radius: var(--str-chat__message-textarea-border-radius);
    border-block-start: var(--str-chat__message-textarea-border-block-start);
    border-block-end: var(--str-chat__message-textarea-border-block-end);
    border-inline-start: var(--str-chat__message-textarea-border-inline-start);
    border-inline-end: var(--str-chat__message-textarea-border-inline-end);
  }

  .invited-users {
    text-align: center;
  }

  .add {
    margin-left: 5px;
  }

  .notifications {
    width: 100%;
  }
}

button {
  background-color: var(--str-chat__cta-button-background-color);
  border: none;
  border-radius: var(--str-chat__cta-button-border-radius);
  color: var(--str-chat__cta-button-color);
  padding: 10px;
  cursor: pointer;
}
